*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main_Container {
    width: 100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.Main_Container h1 {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(45, 45, 75);
}

.Content_Container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Content_Container input {
    width: 70%;
    padding: 20px;
    margin: 10px;
    outline: none;
    border-radius: 5px;
}

.Submit_Btn {
    width: 140px;
    height: 40px;
    background-color: navy;
    color: white;
    border-radius: 8px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .Main_Container {
        height: max-content;
    }

    .Main_Container h1 {
        margin-bottom: 15px;
    }

    .Content_Container {
        height: 100%;
    }
    .Content_Container input {
        width: 90%;
    }
    
}